html, body {
  font-family: Helvetica;
  font-size: 18px;
  background-color: white;
  color: white;
}

header {
  background-color: black;
  display: flex;
  justify-content: center;
}

.container {
  width: 960px;
}

.header-content {
  margin-bottom: 0.66rem;
  margin-top: 0.66rem;
  display: flex;
  align-items: center;
}

.header-content img {
  height: 1.5rem;
  margin-left: 0.5rem;
  margin-right: 1rem;
}

.banner {
  background: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/moto.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 25rem;
  display: flex;
  justify-content: center;
}

.headline {
  padding-top: 9rem;
}

.headline-box {
  width: 20rem;
  background-color: black;
  padding: 2rem 3rem;
  font-weight: bold;
  display: inline-block;
}

.headline-box h1 {
  font-size: 2rem;
}

.headline-box h4 {
  font-size: 1rem;
  padding-bottom: 0.25rem;
}

.navigation-menu {
  background-color: firebrick;
  display: flex;
  justify-content: center;
}

.navigation-menu nav {
  color: white;
  display: flex;
  justify-content: space-between;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.product-grid {
  display: flex;
  justify-content: center;
}

.product-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.box {
  color: black;
  border: 4px solid black;
  width: 30%;
}

.box-content {
  padding-top: 2rem;
  padding-bottom: 2rem;
  display: flex;
  justify-content: center;
}

.box-content img {
  height: 9em;
  width: auto;
  display: flex;
  justify-content: center;
}

.box-text {
  padding-top: 0.55rem;
  padding-bottom: 0.55rem;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
}

.info {
  width: 35%;
}

.info-section {
  display: flex;
  justify-content: space-between;
  margin-bottom: 4rem;
}

.info-content {
  background-color: black;
  padding: 1rem 0 1rem 2rem;
}

.text {
  color: black;
}

footer {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5rem;
}

.footer-content {
  display: flex;
  justify-content: space-around;
}
